<launch>
	<rosparam command="load" ns="prm_planner" file="$(find iiwa_vrep_problem)/config/params_no_execution.yaml" />
	<rosparam command="load" ns="prm_planner/problem_definitions" file="$(find iiwa_vrep_problem)/config/problems.yaml" />
	<rosparam command="load" ns="prm_planner/robots" file="$(find prm_planner_robot_configs)/config/iiwa_sdh2.yaml" />

	<!-- Given the published joint states, publish tf for the robot links -->
	<group ns="iiwa">
		<param name="robot_description" textfile="$(find iiwa_description)/urdf/iiwa_sdh2.urdf"/>

		<param name="collision_matrix" type="string" value="$(find iiwa_description)/collision_matrices/iiwa_sdh2.cm" />
	</group>

	<node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find iiwa_vrep_problem)/rviz/iiwa.rviz" output="screen"/>
</launch>
