<launch>
	<rosparam command="load" ns="prm_planner" file="$(find prm_planner_launch)/config/iiwa_pouring/params.yaml" />
	<rosparam command="load" ns="prm_planner/problem_definitions" file="$(find prm_planner_launch)/config/iiwa_pouring/problems.yaml" />
	<rosparam command="load" ns="prm_planner/robots" file="$(find prm_planner_launch)/config/iiwa_pouring/robots.yaml" />

	<!-- If needed, broadcast static tf for robot root -->
	<node pkg="tf" type="static_transform_publisher" name="virtual_joint_broadcaster_0" args="0 0 0 0 0 0 iiwa/base_link iiwa/interactive_marker_base_link 100" />
	<node pkg="tf" type="static_transform_publisher" name="virtual_joint_broadcaster_1" args="0 0 0 0 0 0 iiwa/base_link iiwa/trajectory_base_link 100" />

	<!-- Given the published joint states, publish tf for the robot links -->
	<group ns="iiwa">
		<include file="$(find iiwa_sdh2_moveit_config)/launch/planning_context.launch">
			<arg name="load_robot_description" value="true" />
			<arg name="robot_description" value="robot_description" />
		</include>
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
			<param name="tf_prefix" type="string" value="iiwa" />
		</node>
		<param name="collision_matrix" type="string" value="$(find iiwa_description)/collision_matrices/iiwa_sdh2.cm" />
	</group>

	<!-- sdh -->
	<node name="sdh2_publisher" pkg="lbr_vrep_interface" type="kuka_sdh_interface" args="iiwa iiwa iiwa" />

	<node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find prm_planner_launch)/rviz/iiwa_pouring.rviz" output="screen"/>
	
	<include file="$(find realtime_urdf_filter)/launch/iiwa_sim.launch"/>
</launch>