<launch>
	<rosparam command="load" ns="prm_planner" file="$(find prm_planner)/config/params.yaml" />
	<include file="$(find prm_planner)/launch/include/omnirob_planning_context.launch.xml"></include>
	<include file="$(find prm_planner)/launch/include/rviz.launch.xml"></include>
	<include file="$(find realtime_urdf_filter)/launch/realtime_urdf_filter_sim.launch"></include>

	<!-- By default, we are not in debug mode -->
	<arg name="debug" default="false" />

	<!-- Which sensor file to include? vrep or real -->
	<arg name="sensor_file" default="vrep" />

	<param name="/move_group/trajectory_execution/execution_duration_monitoring" value="false" />
	<param name="/move_group/plan_execution/max_replan_attempts" value="100" />
	<param name="/move_group/ompl/minimum_waypoint_count" value="10" />
	<param name="/move_group/max_sampling_attempts" value="200" />

	<include file="$(find omnirob_moveit_config)/launch/move_group.launch">
		<arg name="allow_trajectory_execution" value="true" />
		<arg name="fake_execution" value="false" />
		<arg name="info" value="true" />
		<arg name="debug" value="$(arg debug)" />
	</include>	

</launch>
